*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    display: flex;
}
.col{
    height: 85px;
    width: 85px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}
.grid{
    margin-top: 150px;
    margin-left: 500px;
}